.elementsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.colorContainer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.colorDiv {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.colorDiv:hover{
  opacity: 0.7;
  
}

.herramientContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.imgHerramienta {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.imgHerramienta:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.canvasContainer{
  display: flex;
  align-items: center;
}

.canvaStyle{
  margin: 0 auto;
}

.canvaAndButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.buttonContainer{
  align-self: baseline;
}

.chatContainer{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatBox{
  width: 960px;
  height: 300px;
  margin-left: -161px;
  border: 1px solid gray;
}

.sendContainer{
  margin-top: 5px;
  margin-left: -200px;
  display: flex;
  
  align-items: center;
  gap: 5px;

}

.inputStyle{
  width: 500px;
  height: 30px;
  font-size: 24px;
}

.button{
  padding: 6px 20px;
  font-size: 19px;
  color: white;
  background-color: rgb(0, 135, 231);
  border: 1px solid rgb(0, 115, 255);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  background-color: rgba(0, 153, 255, 0.484);
  border: 1px solid rgba(0, 115, 255, 0.375);
  
}

.userName{
  height: 30px;
  width: 250px;
  font-size: 18px;

}

.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  
}