.elementsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.canvaAndButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
